#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

h1 {
  margin-block-start: 0.2em;
}

.row {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clickable {
  font-size: x-large;
  cursor:pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor:pointer;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.horizontal {
  display: flex;
/* Suggested code may be subject to a license. Learn more: ~LicenseLog:3192567082. */
  flex-direction: row;
  justify-content: space-around;
}


